#a{
    background: url(../assets/Fisioterapia.svg) rgba(193, 217, 214, 1) no-repeat;
}
#b{
    background: url(../assets/Fonoaudiologia.png) rgba(193, 217, 214, 1) no-repeat;
}
#c{
    background: url(../assets/Musicoterapia.png) rgba(193, 217, 214, 1) no-repeat;
}
#d{
    background: url(../assets/TerapiaOcupacional.png) rgba(193, 217, 214, 1) no-repeat;
}
#e{
    background: url(../assets/Psicologia.png) rgba(193, 217, 214, 1) no-repeat;
}
#f{
    background: url(../assets/Educacao.png) rgba(193, 217, 214, 1) no-repeat;
}